%{ for image in images ~}

apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageRepository
metadata:
  name: podinfo-multi
  namespace: ${namespace}
spec:
  image: ${image}
  interval: ${interval}
  
---
%{ endfor ~}